In [3]:
import sqlite3
import pandas as pd

In [4]:
# Connect to database
conn = sqlite3.connect('progreso.db')

# Query everything from movimientos table
query = 'SELECT * FROM movimientos'
df = pd.read_sql_query(query, conn)

In [5]:
print(df)

          id    movimiento     tipo_de_movimiento          sucursal  monto  \
0          1   Captaciones  Deposito a Plazo Fijo        La Guardia  24092
1          2   Captaciones      Tarjeta de Debito  Mercado El Torno   8797
2          3  Colocaciones    Credito de Vivienda   Oficina Central   8298
3          4  Colocaciones     Credito de Consumo           Mairana  17077
4          5  Colocaciones          Microcreditos        La Guardia  37975
...      ...           ...                    ...               ...    ...
54656  54657   Captaciones      Tarjeta de Debito        La Guardia   9252
54657  54658   Captaciones         Caja de Ahorro       Vallegrande  20915
54658  54659  Colocaciones          Microcreditos   Oficina Central  33089
54659  54660   Captaciones  Deposito a Plazo Fijo           Cabezas  37062
54660  54661   Captaciones  Deposito a Plazo Fijo  Mercado El Torno  40905

                     fecha
0      2022-12-01 08:07:07
1      2022-10-25 04:41:16
2      2023-05-29 23:37:44
3      2023-06-08 11:59:23
4      2022-03-17 23:59:37
...                    ...
54656  2023-04-02 06:51:37
54657  2022-05-31 03:59:45
54658  2023-11-02 05:31:50
54659  2022-06-21 04:36:02
54660  2023-09-01 02:00:08

[54661 rows x 6 columns]

In [7]:
#convertir la columna FECHAS a formato datetime
df['fecha'] = pd.to_datetime(df['fecha'])
df['Ano'] = df['fecha'].dt.year
df['Mes'] = df['fecha'].dt.month
df['Dia'] = df['fecha'].dt.day
df['Hora'] = df['fecha'].dt.hour
df['NombreDia'] = df['fecha'].dt.day_name()

In [8]:
df_1 = df[df['sucursal']=='Oficina Central']

df_2 = df_1.groupby(['Ano', 'Mes', 'Dia', 'movimiento'])['monto'].sum().reset_index()
print(df_2)

       Ano  Mes  Dia    movimiento   monto
0     2022    1    1   Captaciones   50165
1     2022    1    1  Colocaciones  132736
2     2022    1    2   Captaciones  255765
3     2022    1    2  Colocaciones   62049
4     2022    1    3   Captaciones   12693
...    ...  ...  ...           ...     ...
1451  2023   12   28  Colocaciones   61360
1452  2023   12   29   Captaciones  160305
1453  2023   12   29  Colocaciones  201910
1454  2023   12   30   Captaciones   35282
1455  2023   12   30  Colocaciones  152543

[1456 rows x 5 columns]

In [11]:
df_by_month = df_1.groupby(['Ano', 'Mes', 'movimiento'])['monto'].sum().reset_index()
print(df_by_month)

     Ano  Mes    movimiento    monto
0   2022    1   Captaciones  4281083
1   2022    1  Colocaciones  4515048
2   2022    2   Captaciones  3881734
3   2022    2  Colocaciones  3817566
4   2022    3   Captaciones  4173512
5   2022    3  Colocaciones  4315652
6   2022    4   Captaciones  5175652
7   2022    4  Colocaciones  4126612
8   2022    5   Captaciones  4158983
9   2022    5  Colocaciones  4479482
10  2022    6   Captaciones  4573040
11  2022    6  Colocaciones  3375936
12  2022    7   Captaciones  4605056
13  2022    7  Colocaciones  4029510
14  2022    8   Captaciones  4450348
15  2022    8  Colocaciones  3886547
16  2022    9   Captaciones  3924522
17  2022    9  Colocaciones  3401168
18  2022   10   Captaciones  3970812
19  2022   10  Colocaciones  4658181
20  2022   11   Captaciones  4169708
21  2022   11  Colocaciones  4733417
22  2022   12   Captaciones  4445982
23  2022   12  Colocaciones  4957498
24  2023    1   Captaciones  4209933
25  2023    1  Colocaciones  4033955
26  2023    2   Captaciones  3912110
27  2023    2  Colocaciones  3825513
28  2023    3   Captaciones  4449939
29  2023    3  Colocaciones  4383610
30  2023    4   Captaciones  4929003
31  2023    4  Colocaciones  4040762
32  2023    5   Captaciones  4121304
33  2023    5  Colocaciones  4705528
34  2023    6   Captaciones  4310336
35  2023    6  Colocaciones  4264259
36  2023    7   Captaciones  4198466
37  2023    7  Colocaciones  4650418
38  2023    8   Captaciones  4149423
39  2023    8  Colocaciones  4560807
40  2023    9   Captaciones  3773583
41  2023    9  Colocaciones  3871265
42  2023   10   Captaciones  4809347
43  2023   10  Colocaciones  3480558
44  2023   11   Captaciones  3850683
45  2023   11  Colocaciones  3660724
46  2023   12   Captaciones  4317963
47  2023   12  Colocaciones  3485624

In [13]:
df_by_month_captaciones = df_by_month[(df_by_month['movimiento'] == 'Captaciones') & ('monto' in df_by_month.columns)].groupby(['Ano', 'Mes']).sum()        
print(df_by_month_captaciones)

           movimiento    monto
Ano  Mes
2022 1    Captaciones  4281083
     2    Captaciones  3881734
     3    Captaciones  4173512
     4    Captaciones  5175652
     5    Captaciones  4158983
     6    Captaciones  4573040
     7    Captaciones  4605056
     8    Captaciones  4450348
     9    Captaciones  3924522
     10   Captaciones  3970812
     11   Captaciones  4169708
     12   Captaciones  4445982
2023 1    Captaciones  4209933
     2    Captaciones  3912110
     3    Captaciones  4449939
     4    Captaciones  4929003
     5    Captaciones  4121304
     6    Captaciones  4310336
     7    Captaciones  4198466
     8    Captaciones  4149423
     9    Captaciones  3773583
     10   Captaciones  4809347
     11   Captaciones  3850683
     12   Captaciones  4317963

In [15]:
df_by_month_captaciones['diferencia_mes_anterior'] = df_by_month_captaciones['monto'].diff()
print(df_by_month_captaciones)

           movimiento    monto  diferencia_mes_anterior
Ano  Mes
2022 1    Captaciones  4281083                      NaN
     2    Captaciones  3881734                -399349.0
     3    Captaciones  4173512                 291778.0
     4    Captaciones  5175652                1002140.0
     5    Captaciones  4158983               -1016669.0
     6    Captaciones  4573040                 414057.0
     7    Captaciones  4605056                  32016.0
     8    Captaciones  4450348                -154708.0
     9    Captaciones  3924522                -525826.0
     10   Captaciones  3970812                  46290.0
     11   Captaciones  4169708                 198896.0
     12   Captaciones  4445982                 276274.0
2023 1    Captaciones  4209933                -236049.0
     2    Captaciones  3912110                -297823.0
     3    Captaciones  4449939                 537829.0
     4    Captaciones  4929003                 479064.0
     5    Captaciones  4121304                -807699.0
     6    Captaciones  4310336                 189032.0
     7    Captaciones  4198466                -111870.0
     8    Captaciones  4149423                 -49043.0
     9    Captaciones  3773583                -375840.0
     10   Captaciones  4809347                1035764.0
     11   Captaciones  3850683                -958664.0
     12   Captaciones  4317963                 467280.0

In [16]:
df_by_month_captaciones['diferencia_pct'] = (df_by_month_captaciones['monto'].pct_change()) * 100
print(df_by_month_captaciones)

           movimiento    monto  diferencia_mes_anterior  diferencia_pct
Ano  Mes
2022 1    Captaciones  4281083                      NaN             NaN
     2    Captaciones  3881734                -399349.0       -9.328224
     3    Captaciones  4173512                 291778.0        7.516692
     4    Captaciones  5175652                1002140.0       24.011911
     5    Captaciones  4158983               -1016669.0      -19.643303
     6    Captaciones  4573040                 414057.0        9.955727
     7    Captaciones  4605056                  32016.0        0.700103
     8    Captaciones  4450348                -154708.0       -3.359525
     9    Captaciones  3924522                -525826.0      -11.815391
     10   Captaciones  3970812                  46290.0        1.179507
     11   Captaciones  4169708                 198896.0        5.008950
     12   Captaciones  4445982                 276274.0        6.625740
2023 1    Captaciones  4209933                -236049.0       -5.309266
     2    Captaciones  3912110                -297823.0       -7.074293
     3    Captaciones  4449939                 537829.0       13.747799
     4    Captaciones  4929003                 479064.0       10.765631
     5    Captaciones  4121304                -807699.0      -16.386661
     6    Captaciones  4310336                 189032.0        4.586704
     7    Captaciones  4198466                -111870.0       -2.595389
     8    Captaciones  4149423                 -49043.0       -1.168117
     9    Captaciones  3773583                -375840.0       -9.057645
     10   Captaciones  4809347                1035764.0       27.447760
     11   Captaciones  3850683                -958664.0      -19.933351
     12   Captaciones  4317963                 467280.0       12.134990