In [4]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('progreso.db')

# Query everything from movimientos table
query = 'SELECT * FROM movimientos'
df = pd.read_sql_query(query, conn)

#convertir la columna FECHAS a formato datetime
df['fecha'] = pd.to_datetime(df['fecha'])
df['Ano'] = df['fecha'].dt.year
df['Mes'] = df['fecha'].dt.month
df['Dia'] = df['fecha'].dt.day
df['Hora'] = df['fecha'].dt.hour
df['NombreDia'] = df['fecha'].dt.day_name()


print(df)

          id    movimiento     tipo_de_movimiento          sucursal  monto  \
0          1   Captaciones  Deposito a Plazo Fijo        La Guardia  24092
1          2   Captaciones      Tarjeta de Debito  Mercado El Torno   8797
2          3  Colocaciones    Credito de Vivienda   Oficina Central   8298
3          4  Colocaciones     Credito de Consumo           Mairana  17077
4          5  Colocaciones          Microcreditos        La Guardia  37975
...      ...           ...                    ...               ...    ...
54656  54657   Captaciones      Tarjeta de Debito        La Guardia   9252
54657  54658   Captaciones         Caja de Ahorro       Vallegrande  20915
54658  54659  Colocaciones          Microcreditos   Oficina Central  33089
54659  54660   Captaciones  Deposito a Plazo Fijo           Cabezas  37062
54660  54661   Captaciones  Deposito a Plazo Fijo  Mercado El Torno  40905

                    fecha   Ano  Mes  Dia  Hora NombreDia
0     2022-12-01 08:07:07  2022   12    1     8  Thursday
1     2022-10-25 04:41:16  2022   10   25     4   Tuesday
2     2023-05-29 23:37:44  2023    5   29    23    Monday
3     2023-06-08 11:59:23  2023    6    8    11  Thursday
4     2022-03-17 23:59:37  2022    3   17    23  Thursday
...                   ...   ...  ...  ...   ...       ...
54656 2023-04-02 06:51:37  2023    4    2     6    Sunday
54657 2022-05-31 03:59:45  2022    5   31     3   Tuesday
54658 2023-11-02 05:31:50  2023   11    2     5  Thursday
54659 2022-06-21 04:36:02  2022    6   21     4   Tuesday
54660 2023-09-01 02:00:08  2023    9    1     2    Friday

[54661 rows x 11 columns]

In [77]:
# Select 'movimiento' type
df_1 = df[df['movimiento']=='Captaciones']

# Groupby and sum monto
df_2_sum = df_1.groupby(['Ano', 'Mes', 'sucursal', 'movimiento'])['monto'].sum().reset_index()

# Select year and month
df_3 = df_2_sum[(df_2_sum['Ano']==2023) & (df_2_sum['Mes']==1)]
#print(df_3)


df_2_mean = df_1.groupby(['Ano', 'Mes', 'sucursal', 'movimiento'])['monto'].sum().reset_index()
df_3_mean =  df_2_mean[(df_2_sum['Ano']==2023) & (df_2_mean['Mes']==1)]
df_4_mean = df_3_mean['monto'].sum()
df_5_mean = df_3_mean['monto'].mean()

df_3_sorted = df_3_mean.sort_values(by='monto', ascending=False)

print(df_2_mean)

      Ano  Mes          sucursal   movimiento    monto
0    2022    1           Cabezas  Captaciones  3678934
1    2022    1        La Guardia  Captaciones  3826345
2    2022    1           Mairana  Captaciones  4078770
3    2022    1  Mercado El Torno  Captaciones  4464241
4    2022    1              Mora  Captaciones  4324397
..    ...  ...               ...          ...      ...
163  2023   12           Mairana  Captaciones  3144501
164  2023   12  Mercado El Torno  Captaciones  4083975
165  2023   12              Mora  Captaciones  4651333
166  2023   12   Oficina Central  Captaciones  4317963
167  2023   12       Vallegrande  Captaciones  4325041

[168 rows x 5 columns]

In [67]:
print(df_4_mean / 7)

4245071.142857143

In [68]:
print(df_5_mean)

4245071.142857143

In [74]:
print(df_3_sorted)

     Ano  Mes          sucursal   movimiento    monto
87  2023    1  Mercado El Torno  Captaciones  4692781
84  2023    1           Cabezas  Captaciones  4516510
85  2023    1        La Guardia  Captaciones  4243483
89  2023    1   Oficina Central  Captaciones  4209933
86  2023    1           Mairana  Captaciones  4141008
88  2023    1              Mora  Captaciones  4008086
90  2023    1       Vallegrande  Captaciones  3903697

In [78]:
selected_columns = ['sucursal', 'monto']
df_selected_columns = df_3_sorted[selected_columns]
print(df_selected_columns)

            sucursal    monto
87  Mercado El Torno  4692781
84           Cabezas  4516510
85        La Guardia  4243483
89   Oficina Central  4209933
86           Mairana  4141008
88              Mora  4008086
90       Vallegrande  3903697