In [4]:
import sqlite3
import pandas as pd

# Connect to database
conn = sqlite3.connect('progreso.db')

# Query everything from movimientos table
query = 'SELECT * FROM movimientos'
df = pd.read_sql_query(query, conn)

#convertir la columna FECHAS a formato datetime
df['fecha'] = pd.to_datetime(df['fecha'])
df['Ano'] = df['fecha'].dt.year
df['Mes'] = df['fecha'].dt.month
df['Dia'] = df['fecha'].dt.day
df['Hora'] = df['fecha'].dt.hour
df['NombreDia'] = df['fecha'].dt.day_name()


print(df)

          id    movimiento     tipo_de_movimiento          sucursal  monto  \
0          1   Captaciones  Deposito a Plazo Fijo        La Guardia  24092
1          2   Captaciones      Tarjeta de Debito  Mercado El Torno   8797
2          3  Colocaciones    Credito de Vivienda   Oficina Central   8298
3          4  Colocaciones     Credito de Consumo           Mairana  17077
4          5  Colocaciones          Microcreditos        La Guardia  37975
...      ...           ...                    ...               ...    ...
54656  54657   Captaciones      Tarjeta de Debito        La Guardia   9252
54657  54658   Captaciones         Caja de Ahorro       Vallegrande  20915
54658  54659  Colocaciones          Microcreditos   Oficina Central  33089
54659  54660   Captaciones  Deposito a Plazo Fijo           Cabezas  37062
54660  54661   Captaciones  Deposito a Plazo Fijo  Mercado El Torno  40905

                    fecha   Ano  Mes  Dia  Hora NombreDia
0     2022-12-01 08:07:07  2022   12    1     8  Thursday
1     2022-10-25 04:41:16  2022   10   25     4   Tuesday
2     2023-05-29 23:37:44  2023    5   29    23    Monday
3     2023-06-08 11:59:23  2023    6    8    11  Thursday
4     2022-03-17 23:59:37  2022    3   17    23  Thursday
...                   ...   ...  ...  ...   ...       ...
54656 2023-04-02 06:51:37  2023    4    2     6    Sunday
54657 2022-05-31 03:59:45  2022    5   31     3   Tuesday
54658 2023-11-02 05:31:50  2023   11    2     5  Thursday
54659 2022-06-21 04:36:02  2022    6   21     4   Tuesday
54660 2023-09-01 02:00:08  2023    9    1     2    Friday

[54661 rows x 11 columns]

In [34]:
# Select 'movimiento' type
df_1 = df[df['movimiento']=='Captaciones']

df_2 = df_1.groupby(['Ano', 'Mes', 'sucursal', 'movimiento'])['monto'].sum().reset_index()


# Select year and month

df_3 = df_2[(df_2['Ano']=='2023') & (df_2['Mes']=='1')]
print(df_3)

      Ano  Mes          sucursal   movimiento    monto
0    2022    1           Cabezas  Captaciones  3678934
1    2022    1        La Guardia  Captaciones  3826345
2    2022    1           Mairana  Captaciones  4078770
3    2022    1  Mercado El Torno  Captaciones  4464241
4    2022    1              Mora  Captaciones  4324397
..    ...  ...               ...          ...      ...
163  2023   12           Mairana  Captaciones  3144501
164  2023   12  Mercado El Torno  Captaciones  4083975
165  2023   12              Mora  Captaciones  4651333
166  2023   12   Oficina Central  Captaciones  4317963
167  2023   12       Vallegrande  Captaciones  4325041

[168 rows x 5 columns]